.cards{
    width: 100%;
    height: auto;
    margin-left: 50px;
    
    border-color:solid 2px brown;
   
}
   
.card{
    
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
    float: left;
    margin: 2%;
    border-radius: 10px;
    background-color: #fff;
}
.card:hover{
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
    transform: scale(1.05, 1.05);
}
.cardImage{
    width: 250px;
    height: 250px;
}
.cardDetails{
   text-align: center;
   padding: 16px 24px 24px 24px;
   
   
}

.btn{
    padding: 5px 30px;
    border-color:1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 13px;
    text-transform: uppercase;
    outline: none;
    font-weight: 500;
}